* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: #121214;
    background-image: url(./assets/bg.svg);
    background-position-x: center;
    background-position-y: -745px;
    background-repeat: no-repeat;
    background-size: cover;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: 3.25rem auto;
}

header {
    margin-bottom: 3.9375rem;
    text-align: center;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 4rem
}

.card {
    padding: 2rem 1.4375rem;
    text-align: center;
    background: #1D1C19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
}

.card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border: 1px solid #746615;
    border-radius: 0.375rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #F7DD43;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 3.3125rem;
}

.card h2 span {
    font-size: .875rem;
    color: #E1E1E6;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 16.875rem;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li {
    border-top: 1px solid #323238;
    padding-top: 1.5rem;
}

.card ul li img {
    width: 3.125rem;
}

.card ul li strong {
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 125%;
    color: #E1E1E6;
}